{% load static %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'restaurace/css/myStyle.css' %}">
</head>
<body>
  <div id="wrapper">

  <table class="tab1">
    <th>{{ dishType.name }}</th>
  </table>

  <div class="title">Dishes:</div>
  <table class="tab2">
      {% for dish in dishType.dish_set.all %}
        <tr>
          <td>
            <a href="{% url 'restaurace:dishInfo' dish.id %}">{{ dish.name }}</a>
          </td>
          <td>{{ dish.basePrice }}</td>
        </tr>
      {% endfor %}
  </table>

  <div class="gap"></div>
  <a href="{% url 'restaurace:dishIndex' %}">Back to all dishes</a>

  </div>
</body>
</html>
