{% load static %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'restaurace/css/myStyle.css' %}">
</head>
<body>
  <h1>Restaurace</h1>
  
  <div id="wrapper">
  <a href="{% url 'restaurace:restaurantSearch' %}">Search for restaurant</a>
  <div class="gap"></div>

  <table>
  {% for restaurant in restaurants %}
    <tr>
      <td>
        <a href="{% url 'restaurace:resInfo' restaurant.id %}">{{ restaurant.name }}</a>
      </td>
    </tr>
  {% endfor %}
  </table>

  <div class="gap"></div>
  <a href="{% url 'restaurace:dishIndex' %}">Show me dishes</a>
  </div>
</body>
</html>
