{% load static %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'restaurace/css/myStyle.css' %}">
</head>
<body>
  <div id="wrapper">
    <table class="tab1">
      <th>Review for {{ review.restaurant.name }} [{{ review.restaurant.city }}]</th>
      <tr><td>{{ review.ratingDescription }}</td></tr>
      <tr><td>Stars: {{ review.stars }}</td></tr>
    </table>

  <div class="title">Comment</div>
  <table class="tab2">
    <tr><td>{{ review.comment }}</td></tr>
  </table>

  <div class="gap"></div>
  <a href="{% url 'restaurace:resInfo' review.restaurant.id %}">Back to restaurant</a>
  </div>
</body>
</html>
